version: "3.9"

services:
  app:
    build: .
    container_name: url_shortener_app
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis
    environment:
      - MONGO_URL=mongodb://mongo_db:27017/url_shortener
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    restart: always

  mongo:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongo_data:
